<% layout("/layouts/boilerplate") %>

<script>
   const mapToken = "<%= process.env.MAP_TOKEN %>"
   const listing = <%- JSON.stringify(listing) %>
</script>



<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <!-- <h3>Listing Details :</h3> -->
      <p class="card-text tit" style="font-size: 40px"><%= listing.title %></p>
      <div class="card col-18 im">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top showimg"
          alt="listing_image"
        />

        <div class="col-12">
          <div class="card-body" style="margin-left: 15px !important">
            <br />

            <p
              class="desc"
              style="margin-left: 15px !important; font-weight: 300"
            >
              Owned by
              <i class="own" style="font-size: 15px"
                ><%= listing.owner.username %></i
              >
            </p>
            <p
              class="desc"
              style="margin-left: 15px !important; font-weight: 300"
            >
              <b><%= listing.title %></b>
            </p>
            <p
              class="desc"
              style="margin-left: 15px !important; font-weight: 300"
            >
              <%= listing.description %>
            </p>

            <p
              class="desc"
              style="margin-left: 15px !important; font-weight: 300"
            >
              &#8377; <%= listing.price.toLocaleString("en-IN") %>
            </p>

            <p
              class="desc"
              style="margin-left: 15px !important; font-weight: 300"
            >
              <i class="fa-solid fa-location-dot" style="color: #ff385c"></i>
              <%= listing.location %>
            </p>

            <p
              class="desc"
              style="margin-left: 15px !important; font-weight: 300"
            >
              <i class="fa-solid fa-location-dot" style="color: #ff385c"></i>
              <%= listing.country %>
            </p>
          </div>
        </div>
      </div>
      <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
      <div class="btns" style="margin-left: 45px !important">
        <a
          href="/listings/<%= listing._id %>/edit"
          class="btn  ed offset-0"
          >Edit
        </a>

        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-danger del offset-3">Delete</button>
        </form>
      </div>
      <%}%>
    </div>
  </div>
  
  <% if(currUser) { %>
    <hr />









  <div class="col-8 offset-2 lvr" style="margin-top: 50px;">
    <hr>
    <h2>Leave a Review</h2>

    <form
      action="/listings/<%= listing.id %>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
     
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label rat">Rating</label>
        <fieldset class="starability-basic">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" class="str" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div>
        <label for="comment" class="form-label cmnt">Comment</label>
        <textarea
          required
          class="form-control cmnt-reg" style="background-color: #1b1628; color: white;"
          name="review[comment]"
          id="comment"
          cols="8"
          rows="8"
        ></textarea>
        <div class="invalid-feedback cmnt-area">Please write a comment</div>
      </div>
      <br>
      <button class="btn btn-danger subbt">Submit</button>
    </form>
  </div>
  <% } %>
  <hr />
  <div class="col-9 offset-2 mb-3">
    <% if(listing.reviews.length > 0 ) { %>
    <div class="row last">
      <h4>All Reviews</h4>
      <% for(review of listing.reviews){ %>
      <div
        class="card col-5 ms-5 mb-3 rcar"
        style="border: 1px solid black !important"
      >
        <div class="card-body">
          <h5 class="card-title atr"><%= review.author.username %></h5>
          <p
            class="starability-result card-text"
            data-rating="<%= review.rating %>"
          ></p>
          <p class="card-text atr-cmt"><%= review.comment %></p>
          <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
          <form
            class="mb-3 dll"
            method="POST"
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>

      <% } %>
    </div>
    <% } %>
  </div>
  <div class="col-9 offset-2 mb-3 mapp">
    <h3>Where you'll be</h3>
    <div id="map" ></div>
  </div>
</div>

<script src="/js/map.js"></script>



<style>
  .container {
    margin-top: 20px;
    color: white;
 
  }
  .tit {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-weight: 100 !important;
  }
  .desc{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-weight: 100 !important;
    color: white !important;
  }
  .ed{
    background-color: white;
    color: balck;
  }
  .cmnt{
    font-size: 25px;
  }
  
  .rat{
    font-size: 25px;
  }
  @media (max-width:600px) {
    .im{
      width:1300px
    }
    .tit{
      font-size: 100px !important;
    }
    .im img{
      height: 800px;
      width: 1600px;
    }
    .desc{
      width: 1200px;
      font-size: 60px !important;
      margin-bottom: 30px;
      text-align: justify;
    }
    .own{
      font-size: 50px !important;
    }
    .ed{
      text-align: center;
      font-size: 40px;
      width: 150px;
      height: 80px;
    }
   .del{
    text-align: center;
    font-size: 40px;
      width: 150px;
      height: 80px;
   }
   .lvr h2{
    margin-top: 200px;
    font-size: 100px;
   }
   .rat{
    font-size: 80px;
   }
   .cmnt{
    
    font-size: 80px;
   }
   .cmnt-reg{
    font-size: 80px;
    height: 700px;
   }
   .subbt{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
      font-size: 40px;
      width: 150px;
      height: 80px;
   }
   .last{
    margin-top: 200px;
   }
   .last h4{
    font-size: 90px;
   }
   .rcar{
    margin-top: 80px !important;
    margin-bottom: 100px !important;
    width: 900px;
   }
   .atr{
    font-size: 90px;
   }
  .atr-cmt{
    font-size: 60px;
  }   
  .mapp{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .mapp h3{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 90px;
  }
  #map{
    height: 1000px;
    width: 1200px;
  }
  }
</style>